@model VillaDTO

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete Villa</h2>
			<hr />
		</div>
		<input asp-for="Id" hidden />
		<div class="mb-3 row p-1">
			<label asp-for="Name" class="p-0"></label>
			<input asp-for="Name" disabled class="form-control" />
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Rate" class="p-0"></label>
			<input asp-for="Rate" disabled class="form-control" />
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Occupancy" class="p-0"></label>
			<input asp-for="Occupancy" disabled class="form-control" />
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Details" class="p-0"></label>
			<input asp-for="Details" disabled class="form-control" />
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Sqft" class="p-0"></label>
			<input asp-for="Sqft" disabled class="form-control" />
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="ImageUrl" class="p-0"></label>
			<input asp-for="ImageUrl" disabled class="form-control" />
		</div>
		<div class="mb-3 row p-1">
			<label asp-for="Amenity" class="p-0"></label>
			<input asp-for="Amenity" disabled class="form-control" />
		</div>
		<div class="row">
			<div class="col-6 col-md-3">
				<button type="submit" class="btn btn-primary form-control">Delete</button>
			</div>
			<div class="col-6 col-md-3">
				<a asp-controller="Villa" asp-action="IndexVilla" class="btn btn-secondary border form-control">Back to List</a>
			</div>
		</div>
	</div>
</form>
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}